.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/memo.txt
/.idea/misc.xml
/.idea/gradle.xml
/app/app.iml
/.idea/encodings.xml

.idea/gradle.xml

app/build.gradle

.idea/misc.xml

.idea/gradle.xml

app/src/main/AndroidManifest.xml
